#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized in a way that allows for efficient storage, retrieval, and management of that data. It can be used to store a wide variety of information, such as customer data, product information, financial records, and more.

The main differences between SQL and NoSQL databases are:

 * SQL databases are relational and use tables to store data, while NoSQL databases are non-relational and use document-based or key-value-based data models.
 * SQL databases are good for applications that require complex queries, transactions, and high levels of data consistency, while NoSQL databases are good for applications that require high levels of performance and scalability.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL statements used to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and procedures.

Here are some examples of DDL statements and their uses:

 * CREATE: The CREATE statement is used to create a new database object, such as a table or a view.

In [ ]:
#Example

CREATE TABLE customers (id INT PRIMARY KEY, name VARCHAR(50) NOT NULL, email VARCHAR(50) UNIQUE);

 * DROP: The DROP statement is used to delete a database object, such as a table or a view.

In [1]:
#Example

DROP TABLE customers;

 * ALTER: The ALTER statement is used to modify the structure of a database object.

In [ ]:
#Example

ALTER TABLE customers ADD phone VARCHAR(20);

 * TRUNCATE: The TRUNCATE statement is used to delete all the data in a table.

In [ ]:
#Example

TRUNCATE TABLE customers;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL statements used to manipulate the data within a database. DML statements are used to insert, update, and delete data in a database.

Here are some examples of DML statements and their uses:

 * INSERT: The INSERT statement is used to add new data to a table.

In [ ]:
#Example

INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'john.doe@example.com');

 * UPDATE: The UPDATE statement is used to modify existing data in a table.

In [ ]:
#Example

UPDATE customers SET email = 'jane.doe@example.com' WHERE id = 1;

 *  DELETE: The DELETE statement is used to remove data from a table.

In [ ]:
#Example

DELETE FROM customers WHERE id = 1;

#### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL statements used to retrieve data from a database. DQL statements are used to query the data stored in tables and return specific information based on a set of conditions.

The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables in a database.

In [ ]:
#Example

SELECT name, email FROM customers;

#### Q5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two important concepts in relational databases that help to establish and maintain relationships between tables.

 * Primary Key:
A primary key is a unique identifier for a record in a table. It is used to ensure that each record in a table is unique and can be identified uniquely. A primary key can be a single column or a combination of columns.

For example, consider a table of customers. Each customer can be identified uniquely by their email address. In this case, we can set the "email" column as the primary key of the "customers" table to ensure that each record is unique and can be identified uniquely.

 * Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables. The foreign key ensures that the data in the child table (the table containing the foreign key) is related to the data in the parent table (the table containing the primary key).

For example, consider two tables: "customers" and "orders". The "customers" table has a primary key of "id", and the "orders" table has a foreign key of "customer_id". The "customer_id" column in the "orders" table refers to the "id" column in the "customers" table, indicating that each order is associated with a specific customer.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

 * The cursor() method creates a cursor object that is used to execute SQL statements and fetch the results. The cursor object provides methods to execute queries and fetch results.

 * The execute() method is used to execute SQL statements, such as SELECT, INSERT, UPDATE, and DELETE. We pass the SQL query as an argument to the execute() method.

In [ ]:
import mysql.connector

# Connect to the database
cnx = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

# Create a cursor object
cursor = cnx.cursor()

# Execute a query
query = "SELECT * FROM customers"
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()
for row in results:
  print(row)

# Close the cursor and database connection
cursor.close()
cnx.close()

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of the SQL clauses is as follows:

 * SELECT: The SELECT clause is used to retrieve data from the database. It is the first clause in an SQL query and specifies the columns that should be included in the results.

 * FROM: The FROM clause specifies the table or tables from which the data should be retrieved.

 * WHERE: The WHERE clause is used to filter the data based on a specified condition. It is used to specify a condition that must be met in order for a row to be included in the results.

 * GROUP BY: The GROUP BY clause is used to group the results based on one or more columns. It is used in conjunction with aggregate functions such as COUNT, SUM, AVG, etc.

 * HAVING: The HAVING clause is used to filter the results of a GROUP BY clause based on a specified condition.

 * ORDER BY: The ORDER BY clause is used to sort the results in either ascending or descending order based on one or more columns.

 * LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.
 
Note that not all of these clauses are required in every SQL query, and they may appear in a different order depending on the specific query being executed. However, the general order of execution is as described above.